.checkbox-btn {
    display: inline-block;
    margin: 0 5px 0 0;
    user-select: none;
    position: relative;
}
.checkbox-btn input[type=checkbox] {
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}
.checkbox-btn span {
    display: inline-block;
    cursor: pointer;
    padding: 0px 10px;
    line-height: 30px;
    border: 1px solid #999;
    border-radius: 4px;
    transition: background 0.2s ease;
}

/* Checked */
.checkbox-btn input[type=checkbox]:checked + span {
    background: rgba(225, 225, 225, 0.5);
}

/* Focus */
.focused span {
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover */
.checkbox-btn:hover {
    color: #666;
}

/* Active */
.checkbox-btn input[type=checkbox]:active:not(:disabled) + span {
    background: rgba(190,190,190,0.5);
    color: #000;
}

/* Disabled */
.checkbox-btn input[type=checkbox]:disabled + span {
    background: #efefef;
    color: #666;
    cursor: default;
}
.checkbox-btn input[type=checkbox]:checked:disabled + span {
    background: #f7efdc;
}

.wrapper{
    display: flex;
    background: #fff;
    height: 50px;
    width: 150px;
    align-items: center;
    border-radius: 5px;
}
.wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}


input[type="radio"]{
    display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
}
#option-1:checked:checked ~ .option-1 .dot,
#option-2:checked:checked ~ .option-2 .dot{
    background: #fff;
}
#option-1:checked:checked ~ .option-1 .dot::before,
#option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
}
.wrapper .option span{
    font-size: 14px;
    color: #808080;
}
#option-1:checked:checked ~ .option-1 span,
#option-2:checked:checked ~ .option-2 span{
    color: #fff;
}
